<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liufeng.npc.dao.AdminUserMapper">
  <resultMap id="BaseResultMap" type="com.liufeng.npc.bean.AdminUser">
    <id column="Ad_ID" jdbcType="INTEGER" property="adId" />
    <result column="Ad_Name" jdbcType="VARCHAR" property="adName" />
    <result column="Ad_Pwd" jdbcType="VARCHAR" property="adPwd" />
    <result column="Ad_Info" jdbcType="VARCHAR" property="adInfo" />
    <result column="Ad_PowerCode" jdbcType="INTEGER" property="adPowercode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.liufeng.npc.bean.AdminUserWithBLOBs">
    <result column="Ad_1" jdbcType="LONGVARCHAR" property="ad1" />
    <result column="Ad_2" jdbcType="LONGVARCHAR" property="ad2" />
    <result column="Ad_3" jdbcType="LONGVARCHAR" property="ad3" />
    <result column="Ad_4" jdbcType="LONGVARCHAR" property="ad4" />
    <result column="Ad_5" jdbcType="LONGVARCHAR" property="ad5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Ad_ID, Ad_Name, Ad_Pwd, Ad_Info, Ad_PowerCode
  </sql>
  <sql id="Blob_Column_List">
    Ad_1, Ad_2, Ad_3, Ad_4, Ad_5
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.liufeng.npc.bean.AdminUserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from NPC_Admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.liufeng.npc.bean.AdminUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NPC_Admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from NPC_Admin
    where Ad_ID = #{adId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from NPC_Admin
    where Ad_ID = #{adId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liufeng.npc.bean.AdminUserExample">
    delete from NPC_Admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liufeng.npc.bean.AdminUserWithBLOBs">
    insert into NPC_Admin (Ad_ID, Ad_Name, Ad_Pwd, 
      Ad_Info, Ad_PowerCode, Ad_1, 
      Ad_2, Ad_3, Ad_4, 
      Ad_5)
    values (#{adId,jdbcType=INTEGER}, #{adName,jdbcType=VARCHAR}, #{adPwd,jdbcType=VARCHAR}, 
      #{adInfo,jdbcType=VARCHAR}, #{adPowercode,jdbcType=INTEGER}, #{ad1,jdbcType=LONGVARCHAR}, 
      #{ad2,jdbcType=LONGVARCHAR}, #{ad3,jdbcType=LONGVARCHAR}, #{ad4,jdbcType=LONGVARCHAR}, 
      #{ad5,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liufeng.npc.bean.AdminUserWithBLOBs">
    insert into NPC_Admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adId != null">
        Ad_ID,
      </if>
      <if test="adName != null">
        Ad_Name,
      </if>
      <if test="adPwd != null">
        Ad_Pwd,
      </if>
      <if test="adInfo != null">
        Ad_Info,
      </if>
      <if test="adPowercode != null">
        Ad_PowerCode,
      </if>
      <if test="ad1 != null">
        Ad_1,
      </if>
      <if test="ad2 != null">
        Ad_2,
      </if>
      <if test="ad3 != null">
        Ad_3,
      </if>
      <if test="ad4 != null">
        Ad_4,
      </if>
      <if test="ad5 != null">
        Ad_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adId != null">
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="adName != null">
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adPwd != null">
        #{adPwd,jdbcType=VARCHAR},
      </if>
      <if test="adInfo != null">
        #{adInfo,jdbcType=VARCHAR},
      </if>
      <if test="adPowercode != null">
        #{adPowercode,jdbcType=INTEGER},
      </if>
      <if test="ad1 != null">
        #{ad1,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad2 != null">
        #{ad2,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad3 != null">
        #{ad3,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad4 != null">
        #{ad4,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad5 != null">
        #{ad5,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liufeng.npc.bean.AdminUserExample" resultType="java.lang.Long">
    select count(*) from NPC_Admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update NPC_Admin
    <set>
      <if test="record.adId != null">
        Ad_ID = #{record.adId,jdbcType=INTEGER},
      </if>
      <if test="record.adName != null">
        Ad_Name = #{record.adName,jdbcType=VARCHAR},
      </if>
      <if test="record.adPwd != null">
        Ad_Pwd = #{record.adPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.adInfo != null">
        Ad_Info = #{record.adInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.adPowercode != null">
        Ad_PowerCode = #{record.adPowercode,jdbcType=INTEGER},
      </if>
      <if test="record.ad1 != null">
        Ad_1 = #{record.ad1,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ad2 != null">
        Ad_2 = #{record.ad2,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ad3 != null">
        Ad_3 = #{record.ad3,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ad4 != null">
        Ad_4 = #{record.ad4,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ad5 != null">
        Ad_5 = #{record.ad5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update NPC_Admin
    set Ad_ID = #{record.adId,jdbcType=INTEGER},
      Ad_Name = #{record.adName,jdbcType=VARCHAR},
      Ad_Pwd = #{record.adPwd,jdbcType=VARCHAR},
      Ad_Info = #{record.adInfo,jdbcType=VARCHAR},
      Ad_PowerCode = #{record.adPowercode,jdbcType=INTEGER},
      Ad_1 = #{record.ad1,jdbcType=LONGVARCHAR},
      Ad_2 = #{record.ad2,jdbcType=LONGVARCHAR},
      Ad_3 = #{record.ad3,jdbcType=LONGVARCHAR},
      Ad_4 = #{record.ad4,jdbcType=LONGVARCHAR},
      Ad_5 = #{record.ad5,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update NPC_Admin
    set Ad_ID = #{record.adId,jdbcType=INTEGER},
      Ad_Name = #{record.adName,jdbcType=VARCHAR},
      Ad_Pwd = #{record.adPwd,jdbcType=VARCHAR},
      Ad_Info = #{record.adInfo,jdbcType=VARCHAR},
      Ad_PowerCode = #{record.adPowercode,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liufeng.npc.bean.AdminUserWithBLOBs">
    update NPC_Admin
    <set>
      <if test="adName != null">
        Ad_Name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adPwd != null">
        Ad_Pwd = #{adPwd,jdbcType=VARCHAR},
      </if>
      <if test="adInfo != null">
        Ad_Info = #{adInfo,jdbcType=VARCHAR},
      </if>
      <if test="adPowercode != null">
        Ad_PowerCode = #{adPowercode,jdbcType=INTEGER},
      </if>
      <if test="ad1 != null">
        Ad_1 = #{ad1,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad2 != null">
        Ad_2 = #{ad2,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad3 != null">
        Ad_3 = #{ad3,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad4 != null">
        Ad_4 = #{ad4,jdbcType=LONGVARCHAR},
      </if>
      <if test="ad5 != null">
        Ad_5 = #{ad5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Ad_ID = #{adId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liufeng.npc.bean.AdminUserWithBLOBs">
    update NPC_Admin
    set Ad_Name = #{adName,jdbcType=VARCHAR},
      Ad_Pwd = #{adPwd,jdbcType=VARCHAR},
      Ad_Info = #{adInfo,jdbcType=VARCHAR},
      Ad_PowerCode = #{adPowercode,jdbcType=INTEGER},
      Ad_1 = #{ad1,jdbcType=LONGVARCHAR},
      Ad_2 = #{ad2,jdbcType=LONGVARCHAR},
      Ad_3 = #{ad3,jdbcType=LONGVARCHAR},
      Ad_4 = #{ad4,jdbcType=LONGVARCHAR},
      Ad_5 = #{ad5,jdbcType=LONGVARCHAR}
    where Ad_ID = #{adId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liufeng.npc.bean.AdminUser">
    update NPC_Admin
    set Ad_Name = #{adName,jdbcType=VARCHAR},
      Ad_Pwd = #{adPwd,jdbcType=VARCHAR},
      Ad_Info = #{adInfo,jdbcType=VARCHAR},
      Ad_PowerCode = #{adPowercode,jdbcType=INTEGER}
    where Ad_ID = #{adId,jdbcType=INTEGER}
  </update>
</mapper>