<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liufeng.npc.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.liufeng.npc.bean.Article">
    <id column="Ar_ID" jdbcType="INTEGER" property="arId" />
    <result column="Ar_Title" jdbcType="VARCHAR" property="arTitle" />
    <result column="Ar_SubTitle" jdbcType="VARCHAR" property="arSubtitle" />
    <result column="Ar_PublicTime" jdbcType="TIMESTAMP" property="arPublictime" />
    <result column="Ar_IsHot" jdbcType="CHAR" property="arIshot" />
    <result column="Ar_IsNew" jdbcType="CHAR" property="arIsnew" />
    <result column="Ar_From" jdbcType="VARCHAR" property="arFrom" />
    <result column="Ar_ClickArunt" jdbcType="INTEGER" property="arClickarunt" />
    <result column="Ar_ColumnID" jdbcType="INTEGER" property="arColumnid" />
    <result column="Ar_Status" jdbcType="INTEGER" property="arStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.liufeng.npc.bean.ArticleWithBLOBs">
    <result column="Ar_Content" jdbcType="LONGVARCHAR" property="arContent" />
    <result column="Ar_1" jdbcType="LONGVARCHAR" property="ar1" />
    <result column="Ar_2" jdbcType="LONGVARCHAR" property="ar2" />
    <result column="Ar_3" jdbcType="LONGVARCHAR" property="ar3" />
    <result column="Ar_4" jdbcType="LONGVARCHAR" property="ar4" />
    <result column="Ar_5" jdbcType="LONGVARCHAR" property="ar5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Ar_ID, Ar_Title, Ar_SubTitle, Ar_PublicTime, Ar_IsHot, Ar_IsNew, Ar_From, Ar_ClickArunt, 
    Ar_ColumnID, Ar_Status
  </sql>
  <sql id="Blob_Column_List">
    Ar_Content, Ar_1, Ar_2, Ar_3, Ar_4, Ar_5
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.liufeng.npc.bean.ArticleExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from NPC_Article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.liufeng.npc.bean.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NPC_Article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from NPC_Article
    where Ar_ID = #{arId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from NPC_Article
    where Ar_ID = #{arId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liufeng.npc.bean.ArticleExample">
    delete from NPC_Article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liufeng.npc.bean.ArticleWithBLOBs">
    insert into NPC_Article (Ar_ID, Ar_Title, Ar_SubTitle, 
      Ar_PublicTime, Ar_IsHot, Ar_IsNew, 
      Ar_From, Ar_ClickArunt, Ar_ColumnID, 
      Ar_Status, Ar_Content, Ar_1, 
      Ar_2, Ar_3, Ar_4, 
      Ar_5)
    values (#{arId,jdbcType=INTEGER}, #{arTitle,jdbcType=VARCHAR}, #{arSubtitle,jdbcType=VARCHAR}, 
      #{arPublictime,jdbcType=TIMESTAMP}, #{arIshot,jdbcType=CHAR}, #{arIsnew,jdbcType=CHAR}, 
      #{arFrom,jdbcType=VARCHAR}, #{arClickarunt,jdbcType=INTEGER}, #{arColumnid,jdbcType=INTEGER}, 
      #{arStatus,jdbcType=INTEGER}, #{arContent,jdbcType=LONGVARCHAR}, #{ar1,jdbcType=LONGVARCHAR}, 
      #{ar2,jdbcType=LONGVARCHAR}, #{ar3,jdbcType=LONGVARCHAR}, #{ar4,jdbcType=LONGVARCHAR}, 
      #{ar5,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liufeng.npc.bean.ArticleWithBLOBs">
    insert into NPC_Article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arId != null">
        Ar_ID,
      </if>
      <if test="arTitle != null">
        Ar_Title,
      </if>
      <if test="arSubtitle != null">
        Ar_SubTitle,
      </if>
      <if test="arPublictime != null">
        Ar_PublicTime,
      </if>
      <if test="arIshot != null">
        Ar_IsHot,
      </if>
      <if test="arIsnew != null">
        Ar_IsNew,
      </if>
      <if test="arFrom != null">
        Ar_From,
      </if>
      <if test="arClickarunt != null">
        Ar_ClickArunt,
      </if>
      <if test="arColumnid != null">
        Ar_ColumnID,
      </if>
      <if test="arStatus != null">
        Ar_Status,
      </if>
      <if test="arContent != null">
        Ar_Content,
      </if>
      <if test="ar1 != null">
        Ar_1,
      </if>
      <if test="ar2 != null">
        Ar_2,
      </if>
      <if test="ar3 != null">
        Ar_3,
      </if>
      <if test="ar4 != null">
        Ar_4,
      </if>
      <if test="ar5 != null">
        Ar_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arId != null">
        #{arId,jdbcType=INTEGER},
      </if>
      <if test="arTitle != null">
        #{arTitle,jdbcType=VARCHAR},
      </if>
      <if test="arSubtitle != null">
        #{arSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="arPublictime != null">
        #{arPublictime,jdbcType=TIMESTAMP},
      </if>
      <if test="arIshot != null">
        #{arIshot,jdbcType=CHAR},
      </if>
      <if test="arIsnew != null">
        #{arIsnew,jdbcType=CHAR},
      </if>
      <if test="arFrom != null">
        #{arFrom,jdbcType=VARCHAR},
      </if>
      <if test="arClickarunt != null">
        #{arClickarunt,jdbcType=INTEGER},
      </if>
      <if test="arColumnid != null">
        #{arColumnid,jdbcType=INTEGER},
      </if>
      <if test="arStatus != null">
        #{arStatus,jdbcType=INTEGER},
      </if>
      <if test="arContent != null">
        #{arContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar1 != null">
        #{ar1,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar2 != null">
        #{ar2,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar3 != null">
        #{ar3,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar4 != null">
        #{ar4,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar5 != null">
        #{ar5,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liufeng.npc.bean.ArticleExample" resultType="java.lang.Long">
    select count(*) from NPC_Article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update NPC_Article
    <set>
      <if test="record.arId != null">
        Ar_ID = #{record.arId,jdbcType=INTEGER},
      </if>
      <if test="record.arTitle != null">
        Ar_Title = #{record.arTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.arSubtitle != null">
        Ar_SubTitle = #{record.arSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.arPublictime != null">
        Ar_PublicTime = #{record.arPublictime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arIshot != null">
        Ar_IsHot = #{record.arIshot,jdbcType=CHAR},
      </if>
      <if test="record.arIsnew != null">
        Ar_IsNew = #{record.arIsnew,jdbcType=CHAR},
      </if>
      <if test="record.arFrom != null">
        Ar_From = #{record.arFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.arClickarunt != null">
        Ar_ClickArunt = #{record.arClickarunt,jdbcType=INTEGER},
      </if>
      <if test="record.arColumnid != null">
        Ar_ColumnID = #{record.arColumnid,jdbcType=INTEGER},
      </if>
      <if test="record.arStatus != null">
        Ar_Status = #{record.arStatus,jdbcType=INTEGER},
      </if>
      <if test="record.arContent != null">
        Ar_Content = #{record.arContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ar1 != null">
        Ar_1 = #{record.ar1,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ar2 != null">
        Ar_2 = #{record.ar2,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ar3 != null">
        Ar_3 = #{record.ar3,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ar4 != null">
        Ar_4 = #{record.ar4,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ar5 != null">
        Ar_5 = #{record.ar5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update NPC_Article
    set Ar_ID = #{record.arId,jdbcType=INTEGER},
      Ar_Title = #{record.arTitle,jdbcType=VARCHAR},
      Ar_SubTitle = #{record.arSubtitle,jdbcType=VARCHAR},
      Ar_PublicTime = #{record.arPublictime,jdbcType=TIMESTAMP},
      Ar_IsHot = #{record.arIshot,jdbcType=CHAR},
      Ar_IsNew = #{record.arIsnew,jdbcType=CHAR},
      Ar_From = #{record.arFrom,jdbcType=VARCHAR},
      Ar_ClickArunt = #{record.arClickarunt,jdbcType=INTEGER},
      Ar_ColumnID = #{record.arColumnid,jdbcType=INTEGER},
      Ar_Status = #{record.arStatus,jdbcType=INTEGER},
      Ar_Content = #{record.arContent,jdbcType=LONGVARCHAR},
      Ar_1 = #{record.ar1,jdbcType=LONGVARCHAR},
      Ar_2 = #{record.ar2,jdbcType=LONGVARCHAR},
      Ar_3 = #{record.ar3,jdbcType=LONGVARCHAR},
      Ar_4 = #{record.ar4,jdbcType=LONGVARCHAR},
      Ar_5 = #{record.ar5,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update NPC_Article
    set Ar_ID = #{record.arId,jdbcType=INTEGER},
      Ar_Title = #{record.arTitle,jdbcType=VARCHAR},
      Ar_SubTitle = #{record.arSubtitle,jdbcType=VARCHAR},
      Ar_PublicTime = #{record.arPublictime,jdbcType=TIMESTAMP},
      Ar_IsHot = #{record.arIshot,jdbcType=CHAR},
      Ar_IsNew = #{record.arIsnew,jdbcType=CHAR},
      Ar_From = #{record.arFrom,jdbcType=VARCHAR},
      Ar_ClickArunt = #{record.arClickarunt,jdbcType=INTEGER},
      Ar_ColumnID = #{record.arColumnid,jdbcType=INTEGER},
      Ar_Status = #{record.arStatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liufeng.npc.bean.ArticleWithBLOBs">
    update NPC_Article
    <set>
      <if test="arTitle != null">
        Ar_Title = #{arTitle,jdbcType=VARCHAR},
      </if>
      <if test="arSubtitle != null">
        Ar_SubTitle = #{arSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="arPublictime != null">
        Ar_PublicTime = #{arPublictime,jdbcType=TIMESTAMP},
      </if>
      <if test="arIshot != null">
        Ar_IsHot = #{arIshot,jdbcType=CHAR},
      </if>
      <if test="arIsnew != null">
        Ar_IsNew = #{arIsnew,jdbcType=CHAR},
      </if>
      <if test="arFrom != null">
        Ar_From = #{arFrom,jdbcType=VARCHAR},
      </if>
      <if test="arClickarunt != null">
        Ar_ClickArunt = #{arClickarunt,jdbcType=INTEGER},
      </if>
      <if test="arColumnid != null">
        Ar_ColumnID = #{arColumnid,jdbcType=INTEGER},
      </if>
      <if test="arStatus != null">
        Ar_Status = #{arStatus,jdbcType=INTEGER},
      </if>
      <if test="arContent != null">
        Ar_Content = #{arContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar1 != null">
        Ar_1 = #{ar1,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar2 != null">
        Ar_2 = #{ar2,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar3 != null">
        Ar_3 = #{ar3,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar4 != null">
        Ar_4 = #{ar4,jdbcType=LONGVARCHAR},
      </if>
      <if test="ar5 != null">
        Ar_5 = #{ar5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Ar_ID = #{arId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liufeng.npc.bean.ArticleWithBLOBs">
    update NPC_Article
    set Ar_Title = #{arTitle,jdbcType=VARCHAR},
      Ar_SubTitle = #{arSubtitle,jdbcType=VARCHAR},
      Ar_PublicTime = #{arPublictime,jdbcType=TIMESTAMP},
      Ar_IsHot = #{arIshot,jdbcType=CHAR},
      Ar_IsNew = #{arIsnew,jdbcType=CHAR},
      Ar_From = #{arFrom,jdbcType=VARCHAR},
      Ar_ClickArunt = #{arClickarunt,jdbcType=INTEGER},
      Ar_ColumnID = #{arColumnid,jdbcType=INTEGER},
      Ar_Status = #{arStatus,jdbcType=INTEGER},
      Ar_Content = #{arContent,jdbcType=LONGVARCHAR},
      Ar_1 = #{ar1,jdbcType=LONGVARCHAR},
      Ar_2 = #{ar2,jdbcType=LONGVARCHAR},
      Ar_3 = #{ar3,jdbcType=LONGVARCHAR},
      Ar_4 = #{ar4,jdbcType=LONGVARCHAR},
      Ar_5 = #{ar5,jdbcType=LONGVARCHAR}
    where Ar_ID = #{arId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liufeng.npc.bean.Article">
    update NPC_Article
    set Ar_Title = #{arTitle,jdbcType=VARCHAR},
      Ar_SubTitle = #{arSubtitle,jdbcType=VARCHAR},
      Ar_PublicTime = #{arPublictime,jdbcType=TIMESTAMP},
      Ar_IsHot = #{arIshot,jdbcType=CHAR},
      Ar_IsNew = #{arIsnew,jdbcType=CHAR},
      Ar_From = #{arFrom,jdbcType=VARCHAR},
      Ar_ClickArunt = #{arClickarunt,jdbcType=INTEGER},
      Ar_ColumnID = #{arColumnid,jdbcType=INTEGER},
      Ar_Status = #{arStatus,jdbcType=INTEGER}
    where Ar_ID = #{arId,jdbcType=INTEGER}
  </update>
</mapper>